accelerate==0.28.0
flash_attn==2.5.6
flax==0.8.4
huggingface_hub==0.21.4
jax==0.4.28
numpy==1.26.4
packaging==24.0
peft==0.10.0
rouge==1.0.1
sacrebleu==2.4.1
safetensors==0.4.3
sentencepiece==0.2.0
tokenizers==0.19.1
torch==2.2.1
tqdm==4.66.2
transformers==4.40.0
triton==2.2.0
triton_nightly==2.1.0.dev20230728172942
python-dotenv==1.0.1
